@charset "UTF-8";

body{
    background-color: rgb(0, 255, 106);
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: rgb(0, 148, 62)
}

h1#principal{
    text-align: center;
}

h2{
    color: rgb(0, 158, 221)
}

.basico{
    color: rgb(199, 104, 15)
}

.intermediario{
    color: rgb(167, 184, 19)
}

.avancado{
    color: rgb(250, 104, 6)
}

.destaque{
    background-color: blueviolet;
}